{
	"extends": ["eslint:recommended", "google"],
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
		"comma-dangle": "off",
		"no-var": "error",
		"eol-last": ["warn", "never"],
		"guard-for-in": "off",
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"linebreak-style": "off",
		"max-len": [
			"error",
			{
				"code": 120,
				"comments": 120,
				"tabWidth": 4,
				"ignoreUrls": true,
				"ignoreTrailingComments": true,
				"ignoreStrings": true
			}
		],
		"no-case-declarations": "off",
		"no-extra-boolean-cast": "off",
		"no-tabs": "off",
		"padded-blocks": "off",
		"prefer-rest-params": "off",
		"prefer-spread": "off",
		"valid-jsdoc": "off"
	},
	"overrides": [
		{
			"files": ["*.ssjs"],
			"rules": {
				"new-cap": "off",
				"no-var": "off",
				"no-extend-native": "off",
				"no-console": "off",
				"no-throw-literal": "off"
			},
			"parserOptions": {
				"ecmaVersion": 3
			},
			"globals": {
				"DataExtension": false,
				"HTTP": false,
				"Platform": false,
				"Script": false,
				"Stringify": false,
				"Variable": false,
				"Write": false
			}
		}
	]
}
